{% include 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
    <div class="container h-100">
            <div class="row justify-content-center align-items-center">
            <h3><i>About</i></h3>
            <img src="static/Portfolio Pic.jpg" class="img-fluid about-img">
        </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-7">
                    <p>A Software Developer based in Atlanta, GA, originally from Florida.
                    I have a lifelong passion for technology and furthering my technical ability.</p>
                    <p>Most of my adult life has been spent in Customer Service/Hospitality, but I've recently pivoted to tech.
                        I've completed a Bachelors in Computing Technology and Software Development at <a href="https://valenciacollege.edu">Valencia College</a></p>
                    <p>When I'm not studying I enjoy working on personal projects, cycling, baking and spending time with my partner and our two cats, Papa and Cha-cha.</p>
                </div>
        </div>
    </div>
{% endblock %}
